page-home {

    .timesheet{
      width: 95%;
      margin-top: 15%;
      margin-left: 3%;
      padding: 3%;
      background-color: gray;
      color: white;
      border-color: white;
    }
  
  .bg-image{
    background-image : url('../../assets/imgs/bg.png')    ;
  }
  
}
